<!DOCTYPE html>
<html>
    <head>
        <title>Dicton</title>
    </head>
    <body>
        <h2>Créer nouveau dicton:</h2>
        <form method=POST>
            <label>
                <input type='text' name='dicton'>
            </label>
            <button>Nouveau dicton</button>
        </form>
    </body>
</html>
