<!DOCTYPE html>
<html>
    <head>
        <link href="/css/dicton-style.css" rel="stylesheet" type="text/css">
        <title>Dicton</title>
    </head>
    <body>
        <h2>Dicton aléatoire:</h2>
        <q><%= dicton %></q>
    </body>
</html>

